body {
  margin: 0;
  font: 1.5em/1.2 Symbola, serif;
}
h1, h2, h3 {
  line-height: 1;
}

/* navbar layout & basic styling */
nav {
  color: #f8f8f8;
  background: black;
  line-height: 1.4em;
}
nav div span.selected {
  color: black;
  background: white;
}
#nav-home, nav div * {
  display: inline-block;
  padding: 0 .6em;
}
#nav-home {
  float: left;
  font-size: 1.2em;
  padding-left: .2em;
}
nav div {
  max-width: 5in;
  margin: 0 auto;
}


/* navbar link styling & hover effects */
#nav-home, nav a {
  color: inherit;
  overflow: hidden; /* clip glow from link hover effect */

  /* Without overflow:hidden, baseline of an inline-block is the baseline of
   * the text inside, like you'd expect. However, overflow:hidden causes the
   * baseline to be the bottom of the border-box, which if aligned with the
   * baseline of the line box containing the inline-block, results in extra
   * space in the div & nav for the (potential) descenders of the line box.
   * In this case that results in unwanted black padding inside the black
   * background nav.
   * This aligns the bottom of the inline-block with the bottom of the div &
   * nav's line box (which is below the descenders of the line box):         */
  vertical-align: bottom;
}
nav a:hover {
  color: #fff8ff;
  text-shadow: white 0 0 10px, white 0 0 11px, white 0 0 12px, #60F 0 0 13px, #60F 0 0 14px, #60F 0 0 15px, #60F 0 0 16px;
}
nav a:active {
  color: #fff8f8;
  text-shadow: white 0 0 10px, red 0 0 11px, red 0 0 12px, red 0 0 13px, red 0 0 14px;
}
a#nav-home:hover {
  /* can't share text-shadow with the other links because the larger font-size causes
   * the glow effect to appear overstated/brighter than the others. This rule is the
   * same as the others except toned down to match them in apparent brightness. */
  text-shadow: white 0 0 10px, white 0 0 11px, #60F 0 0 13px, #60F 0 0 14px, #60F 0 0 15px;
}
a#nav-home:active {
  text-shadow: white 0 0 10px, red 0 0 11px, red 0 0 12px, red 0 0 13px;
}

/* modern GitHub corners: http://tholman.com/github-corners/ */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

main {
  max-width: 6.5in;
  margin: 0 auto;
  padding-bottom: 2em;
}

p {
  margin: .5em 0;
}

#animation {
  margin: 8em 0;
  line-height: 3em;
  position: relative;
}
#animation p {
  margin: 0;
}
#math-field-animated {
  width: 9.2em;
  font-size: 1.2em;
  background: white;
}
#animation kbd {
  font-size: 1em;
  position: absolute;
  z-index: 1;

  display: none;
}
#continue-typing {
  display: none;
  position: absolute;
  cursor: pointer;

  font: .7em sans-serif;
  padding: .2em .5em;
  border-radius: .5em;

  color: #444;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border:1px solid #dcdcdc;
}

#example {
  padding: .5em 1em;
  background: #fcfcfc;
  border: solid 1px #eee;
}
#math-field {
  min-width: 5em;
  background: white;
}
pre {
  font-size: .95em;
}

h3 {
  margin: 2em 0 0;
}
a {
  color: mediumblue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-shadow: #60F 0 0 .2em;
}
a:active {
  color: #400;
  text-shadow: red 0 0 .2em;
}

p.new-section {
  margin-top: 2em;
}

.highlight { background: #FFFFFF; color: #929292 }
.highlight .hll { background-color: #EFEFEF }
.highlight .c { color: #929292 }
.highlight .err { background: #C82829; color: #FFFFFF }
.highlight .k { color: #8959A8 }
.highlight .l { color: #F5871F }
.highlight .n { color: #929292 }
.highlight .o { color: #545454 }
.highlight .p { color: #929292 }
.highlight .cm { color: #929292 }
.highlight .cp { color: #929292 }
.highlight .c1 { color: #929292 }
.highlight .cs { color: #929292 }
.highlight .gd { color: #C82829 }
.highlight .ge { font-style: italic }
.highlight .gh { color: #545454; font-weight: bold }
.highlight .gi { color: #718C00 }
.highlight .gp { color: #718C00; font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #3E999F; font-weight: bold }
.highlight .kc { color: #8959A8 }
.highlight .kd { color: #8959A8 }
.highlight .kn { color: #3E999F }
.highlight .kp { color: #4271AE }
.highlight .kr { color: #8959A8 }
.highlight .kt { color: #EAB700 }
.highlight .ld { color: #718C00 }
.highlight .m { color: #F5871F }
.highlight .s { color: #718C00 }
.highlight .na { color: #4271AE }
.highlight .nb { color: #4271AE }
.highlight .nc { color: #EAB700 }
.highlight .no { color: #EAB700 }
.highlight .nd { color: #3E999F }
.highlight .ni { color: #545454 }
.highlight .ne { color: #C82829 }
.highlight .nf { color: #4271AE }
.highlight .nl { color: #545454 }
.highlight .nn { color: #EAB700 }
.highlight .nx { color: #4271AE }
.highlight .py { color: #545454 }
.highlight .nt { color: #3E999F }
.highlight .nv { color: #C82829 }
.highlight .ow { color: #3E999F }
.highlight .w { color: #545454 }
.highlight .mf { color: #F5871F }
.highlight .mh { color: #F5871F }
.highlight .mi { color: #F5871F }
.highlight .mo { color: #F5871F }
.highlight .sb { color: #718C00 }
.highlight .sc { color: #545454 }
.highlight .sd { color: #929292 }
.highlight .s2 { color: #718C00 }
.highlight .se { color: #F5871F }
.highlight .sh { color: #718C00 }
.highlight .si { color: #F5871F }
.highlight .sx { color: #718C00 }
.highlight .sr { color: #718C00 }
.highlight .s1 { color: #718C00 }
.highlight .ss { color: #718C00 }
.highlight .bp { color: #545454 }
.highlight .vc { color: #C82829 }
.highlight .vg { color: #C82829 }
.highlight .vi { color: #C82829 }
.highlight .il { color: #F5871F }
