body {
  min-height: 100%;
  max-width: 5.5in;
  margin: 0 auto;
  font: 1.2em Symbola, serif;
  color: black;
  background-color: white;
  background-image: url("../images/quill_2_opacity.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
h1, #subtitle {
  text-align: center;
}
h1 {
  font-size: 5em;
  font-weight: 100;
  margin: 1em 0 0;
}
h3 {
  padding-top: 2em;
  margin-bottom: 0;
}
#subtitle {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
}
p {
  margin: .4em 0;
}
#byline a {
  color: black;
  font: bold .9em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#animation {
  padding-top: 6em;
  padding-bottom: 3em;
  height: 2.6em;
}
#math-field-animated {
  text-align: left;
  border: none;
  box-shadow: none;
  font-size: 175%;
}
#introP {
  padding-bottom: 1em;
}
#latexp {
  padding-bottom: 1em;
}
#rawText {
  font-size: 1.5em;
}
code {
  background: #eee;
  border-radius: .3em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  padding: .1em .4em;
}
code span {
  font: lighter .8em sans-serif;
}
#latex {
  font-family: monospace;
  vertical-align: .1em;
}
#footer {
  padding: 2em;
}
a {
  color: mediumblue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-shadow: #40F 0 0 .2em;
}
a:active {
  color: #400;
  text-shadow: red 0 0 .2em;
}
ul {
  padding-left: 1em;
}

.highlight { background: #FFFFFF; color: #929292 }
.highlight .hll { background-color: #EFEFEF }
.highlight .c { color: #929292 }
.highlight .err { background: #C82829; color: #FFFFFF }
.highlight .k { color: #8959A8 }
.highlight .l { color: #F5871F }
.highlight .n { color: #929292 }
.highlight .o { color: #545454 }
.highlight .p { color: #929292 }
.highlight .cm { color: #929292 }
.highlight .cp { color: #929292 }
.highlight .c1 { color: #929292 }
.highlight .cs { color: #929292 }
.highlight .gd { color: #C82829 }
.highlight .ge { font-style: italic }
.highlight .gh { color: #545454; font-weight: bold }
.highlight .gi { color: #718C00 }
.highlight .gp { color: #718C00; font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #3E999F; font-weight: bold }
.highlight .kc { color: #8959A8 }
.highlight .kd { color: #8959A8 }
.highlight .kn { color: #3E999F }
.highlight .kp { color: #4271AE }
.highlight .kr { color: #8959A8 }
.highlight .kt { color: #EAB700 }
.highlight .ld { color: #718C00 }
.highlight .m { color: #F5871F }
.highlight .s { color: #718C00 }
.highlight .na { color: #4271AE }
.highlight .nb { color: #4271AE }
.highlight .nc { color: #EAB700 }
.highlight .no { color: #EAB700 }
.highlight .nd { color: #3E999F }
.highlight .ni { color: #545454 }
.highlight .ne { color: #C82829 }
.highlight .nf { color: #4271AE }
.highlight .nl { color: #545454 }
.highlight .nn { color: #EAB700 }
.highlight .nx { color: #4271AE }
.highlight .py { color: #545454 }
.highlight .nt { color: #3E999F }
.highlight .nv { color: #C82829 }
.highlight .ow { color: #3E999F }
.highlight .w { color: #545454 }
.highlight .mf { color: #F5871F }
.highlight .mh { color: #F5871F }
.highlight .mi { color: #F5871F }
.highlight .mo { color: #F5871F }
.highlight .sb { color: #718C00 }
.highlight .sc { color: #545454 }
.highlight .sd { color: #929292 }
.highlight .s2 { color: #718C00 }
.highlight .se { color: #F5871F }
.highlight .sh { color: #718C00 }
.highlight .si { color: #F5871F }
.highlight .sx { color: #718C00 }
.highlight .sr { color: #718C00 }
.highlight .s1 { color: #718C00 }
.highlight .ss { color: #718C00 }
.highlight .bp { color: #545454 }
.highlight .vc { color: #C82829 }
.highlight .vg { color: #C82829 }
.highlight .vi { color: #C82829 }
.highlight .il { color: #F5871F }
