/* fix HTML5 elements in IE8-11, Safari 4 */
nav, main {
  display: block;
}

body {
  margin: 0;
  font: 1.5em/1.2 Symbola, serif;
}
h1, h2, h3 {
  line-height: 1;
}

/* navbar layout & basic styling */
nav {
  color: #f8f8f8;
  background: black;
  line-height: 1.4em;
}
nav div span.selected {
  color: black;
  background: white;
}
#nav-home, nav div * {
  display: inline-block;
  padding: 0 .6em;
}
#nav-home {
  float: left;
  font-size: 1.2em;
  padding: 0 .2em;
}
nav div {
  max-width: 5in;
  margin: 0 auto;
}


/* navbar link styling & hover effects */
#nav-home, nav a {
  color: inherit;
}
nav a:hover {
  background: #555;
}
nav a:before {
  display: none;
}

/* modern GitHub corners: http://tholman.com/github-corners/ */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

main {
  max-width: 6.5in;
  margin: 0 auto;
  padding-bottom: 2em;
}

p {
  margin: .5em 0;
}

#animation {
  margin: 8em 0;
  line-height: 3em;
  position: relative;
}
#animation p {
  margin: 0;
}
#math-field-animated {
  width: 9.2em;
  font-size: 1.2em;
  background: white;
}
#animation kbd {
  font-size: 1em;
  position: absolute;
  z-index: 1;

  display: none;
}
#continue-typing {
  display: none;
  position: absolute;
  cursor: pointer;

  font: .7em sans-serif;
  padding: .2em .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;

  color: #444;
  border:1px solid #dcdcdc;

  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;

  /* thanks http://colorzilla.com/gradient-editor/#ffffff+5,f6f6f6+100 */
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#ffffff), color-stop(100%,#f6f6f6)); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #ffffff 5%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #ffffff 5%,#f6f6f6 100%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #ffffff 5%,#f6f6f6 100%); /* IE10 preview */
  background: linear-gradient(to bottom, #ffffff 5%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

#example {
  padding: .5em 1em;
  background: #fcfcfc;
  border: solid 1px #eee;
}
#math-field {
  min-width: 5em;
  background: white;
}
pre {
  font-size: .95em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

h3 {
  margin: 2em 0 0;
}
a {
  color: mediumblue;
  text-decoration: none;
  position: relative;
}
a:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;

  height: 2px;
  background-color: transparent;
  background-color: currentColor;
  opacity: 0;

  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
a:hover:before {
  opacity: .8;
  bottom: -2px;
}
a.no-underline:before {
  display: none;
}

p.new-section {
  margin-top: 2em;
}

.highlight { background: #FFFFFF; color: #929292 }
.highlight .hll { background-color: #EFEFEF }
.highlight .c { color: #929292 }
.highlight .err { background: #C82829; color: #FFFFFF }
.highlight .k { color: #8959A8 }
.highlight .l { color: #F5871F }
.highlight .n { color: #929292 }
.highlight .o { color: #545454 }
.highlight .p { color: #929292 }
.highlight .cm { color: #929292 }
.highlight .cp { color: #929292 }
.highlight .c1 { color: #929292 }
.highlight .cs { color: #929292 }
.highlight .gd { color: #C82829 }
.highlight .ge { font-style: italic }
.highlight .gh { color: #545454; font-weight: bold }
.highlight .gi { color: #718C00 }
.highlight .gp { color: #718C00; font-weight: bold }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #3E999F; font-weight: bold }
.highlight .kc { color: #8959A8 }
.highlight .kd { color: #8959A8 }
.highlight .kn { color: #3E999F }
.highlight .kp { color: #4271AE }
.highlight .kr { color: #8959A8 }
.highlight .kt { color: #EAB700 }
.highlight .ld { color: #718C00 }
.highlight .m { color: #F5871F }
.highlight .s { color: #718C00 }
.highlight .na { color: #4271AE }
.highlight .nb { color: #4271AE }
.highlight .nc { color: #EAB700 }
.highlight .no { color: #EAB700 }
.highlight .nd { color: #3E999F }
.highlight .ni { color: #545454 }
.highlight .ne { color: #C82829 }
.highlight .nf { color: #4271AE }
.highlight .nl { color: #545454 }
.highlight .nn { color: #EAB700 }
.highlight .nx { color: #4271AE }
.highlight .py { color: #545454 }
.highlight .nt { color: #3E999F }
.highlight .nv { color: #C82829 }
.highlight .ow { color: #3E999F }
.highlight .w { color: #545454 }
.highlight .mf { color: #F5871F }
.highlight .mh { color: #F5871F }
.highlight .mi { color: #F5871F }
.highlight .mo { color: #F5871F }
.highlight .sb { color: #718C00 }
.highlight .sc { color: #545454 }
.highlight .sd { color: #929292 }
.highlight .s2 { color: #718C00 }
.highlight .se { color: #F5871F }
.highlight .sh { color: #718C00 }
.highlight .si { color: #F5871F }
.highlight .sx { color: #718C00 }
.highlight .sr { color: #718C00 }
.highlight .s1 { color: #718C00 }
.highlight .ss { color: #718C00 }
.highlight .bp { color: #545454 }
.highlight .vc { color: #C82829 }
.highlight .vg { color: #C82829 }
.highlight .vi { color: #C82829 }
.highlight .il { color: #F5871F }
