body {
  margin: 0;
  font-family: Palatino, serif;
}
#head-inner, #body {
  margin: 0 auto;
  max-width: 6.5in;
  padding: .5em;
}

#head {
  margin: 0;
  background: #333;
  color: white;
}
#head a {
  color: #4AF;
  text-shadow: blue 0 0 .3em;
}
#head a:hover {
  color: #4DF;
  text-shadow: #4AF 0 0 1em;
}
h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
}
h1 small {
  font-size: 60%;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  font-style: italic;
  margin: 0;
  margin-top: .2em;
}

#body {
  padding-top: 0;
}
code {
  font: 90% monospace;
  background: #DDD;
  border-radius: .3em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  padding: 0 .3em;
}
a {
  color: mediumblue;
  text-decoration: none;
}
a:hover {
  color: #408;
  text-shadow: #86F 0 0 .2em;
}
a:active {
  color: #400;
  text-shadow: red 0 0 .2em;
}
ul {
  padding-left: 1em;
}
